
  {% extends 'base.html'%}
  {% load static %}

  {% block javascript %}
    <script src="{% static 'member/js/notification.js' %}"></script>

  {% endblock %}

  {% block content %}
  {% if user.is_authenticated %}

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <h3 class="mb-0">Notifications</h3>

          </div>
          <div class="table-responsive py-4">
            <table class="table table-flush" id="datatable-buttons">
              <thead class="thead-light">
                <tr>
                  <th><center>Name</center></th>
                  <th><center>Position</center></th>
                  <th><center>Office</center></th>
                  <th><center>Age</center></th>
                  <th><center>Start date</center></th>

                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th >Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>

                </tr>
              </tfoot>
              <tbody>
                 {% include 'securite/includes/partial_notification_list.html' %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="modal fade" id="modal-notification">
      <div class="modal-dialog">
        <div class="modal-content">

        </div>
      </div>
    </div>
  {% endif %}
  {% endblock %}
