{% load static %}
{% for notify in notifications %}

  <tr>

    <td scope="row">
      <div class="media align-items-center">
        <div class="media-body">
          <span class="mb-0 text-sm"><center>{{ notify.Category }}</center></span>
        </div>
      </div>
    </td>

    <td scope="row">
      <div class="media align-items-center">
        <div class="media-body">
          <span class="mb-0 text-sm"><center>{{ notify.CameraName }}</center></span>
        </div>
      </div>
    </td>
    <td scope="row">
      <div class="media align-items-center">
        <div class="media-body">
          <span class="mb-0 text-sm"><center>{{ notify.ImageURL }}</center></span>
        </div>
      </div>
    </td>
    <td scope="row">
      <div class="media align-items-center">
        <div class="media-body">
          <span class="mb-0 text-sm"><center>{{ notify.Time }}</center></span>
        </div>
      </div>
     </td>

     <td scope="row">
       <div class="media align-items-center">
         <div class="media-body">
           <span class="mb-0 text-sm"><center>{{ notify.Category }}</center></span>
         </div>
       </div>
     </td>

     <td scope="row">
       <div class="media align-items-center">
         <div class="media-body">
           <span class="mb-0 text-sm"><center>{{ notify.CameraName }}</center></span>
         </div>
       </div>
     </td>
     <td scope="row">
       <div class="media align-items-center">
         <div class="media-body">
           <span class="mb-0 text-sm"><center>{{ notify.ImageURL }}</center></span>
         </div>
       </div>
     </td>
     <td scope="row">
       <div class="media align-items-center">
         <div class="media-body">
           <span class="mb-0 text-sm"><center>{{ notify.Time }}</center></span>
         </div>
       </div>
      </td>

      <td scope="row">
        <div class="media align-items-center">
          <div class="media-body">
            <span class="mb-0 text-sm"><center>{{ notify.Category }}</center></span>
          </div>
        </div>
      </td>

      <td scope="row">
        <div class="media align-items-center">
          <div class="media-body">
            <span class="mb-0 text-sm"><center>{{ notify.CameraName }}</center></span>
          </div>
        </div>
      </td>
      <td scope="row">
        <div class="media align-items-center">
          <div class="media-body">
            <span class="mb-0 text-sm"><center>{{ notify.ImageURL }}</center></span>
          </div>
        </div>
      </td>
      <td scope="row">
        <div class="media align-items-center">
          <div class="media-body">
            <span class="mb-0 text-sm"><center>{{ notify.Time }}</center></span>
          </div>
        </div>
       </td>
       <td scope="row">
         <div class="media align-items-center">
           <div class="media-body">
             <span class="mb-0 text-sm"><center>{{ notify.Category }}</center></span>
           </div>
         </div>
       </td>

       <td scope="row">
         <div class="media align-items-center">
           <div class="media-body">
             <span class="mb-0 text-sm"><center>{{ notify.CameraName }}</center></span>
           </div>
         </div>
       </td>
       <td scope="row">
         <div class="media align-items-center">
           <div class="media-body">
             <span class="mb-0 text-sm"><center>{{ notify.ImageURL }}</center></span>
           </div>
         </div>
       </td>
       <td scope="row">
         <div class="media align-items-center">
           <div class="media-body">
             <span class="mb-0 text-sm"><center>{{ notify.Time }}</center></span>
           </div>
         </div>
        </td>
        <td scope="row">
          <div class="media align-items-center">
            <div class="media-body">
              <span class="mb-0 text-sm"><center>{{ notify.CameraName }}</center></span>
            </div>
          </div>
        </td>
        <td scope="row">
          <div class="media align-items-center">
            <div class="media-body">
              <span class="mb-0 text-sm"><center>{{ notify.ImageURL }}</center></span>
            </div>
          </div>
        </td>
        <td scope="row">
          <div class="media align-items-center">
            <div class="media-body">
              <span class="mb-0 text-sm"><center>{{ notify.Time }}</center></span>
            </div>
          </div>
         </td>
         <td scope="row">
           <div class="media align-items-center">
             <div class="media-body">
               <span class="mb-0 text-sm"><center>{{ notify.CameraName }}</center></span>
             </div>
           </div>
         </td>
         <td scope="row">
           <div class="media align-items-center">
             <div class="media-body">
               <span class="mb-0 text-sm"><center>{{ notify.ImageURL }}</center></span>
             </div>
           </div>
         </td>
         <td scope="row">
           <div class="media align-items-center">
             <div class="media-body">
               <span class="mb-0 text-sm"><center>{{ notify.Time }}</center></span>
             </div>
           </div>
          </td>
          <td scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <span class="mb-0 text-sm"><center>{{ notify.CameraName }}</center></span>
              </div>
            </div>
          </td>
          <td scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <span class="mb-0 text-sm"><center>{{ notify.ImageURL }}</center></span>
              </div>
            </div>
          </td>
          <td scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <span class="mb-0 text-sm"><center>{{ notify.Time }}</center></span>
              </div>
            </div>
           </td>
           <td scope="row">
             <div class="media align-items-center">
               <div class="media-body">
                 <span class="mb-0 text-sm"><center>{{ notify.CameraName }}</center></span>
               </div>
             </div>
           </td>
           <td scope="row">
             <div class="media align-items-center">
               <div class="media-body">
                 <span class="mb-0 text-sm"><center>{{ notify.ImageURL }}</center></span>
               </div>
             </div>
           </td>
           <td scope="row">
             <div class="media align-items-center">
               <div class="media-body">
                 <span class="mb-0 text-sm"><center>{{ notify.Time }}</center></span>
               </div>
             </div>
            </td>
            <td scope="row">
              <div class="media align-items-center">
                <div class="media-body">
                  <span class="mb-0 text-sm"><center>{{ notify.CameraName }}</center></span>
                </div>
              </div>
            </td>
            <td scope="row">
              <div class="media align-items-center">
                <div class="media-body">
                  <span class="mb-0 text-sm"><center>{{ notify.ImageURL }}</center></span>
                </div>
              </div>
            </td>
            <td scope="row">
              <div class="media align-items-center">
                <div class="media-body">
                  <span class="mb-0 text-sm"><center>{{ notify.Time }}</center></span>
                </div>
              </div>
             </td>

             <td scope="row">
               <div class="media align-items-center">
                 <div class="media-body">
                   <span class="mb-0 text-sm"><center>{{ notify.Time }}</center></span>
                 </div>
               </div>
              </td>


{% empty %}
  <tr>
    <td colspan="10" class="text-center ">No notification</td>
  </tr>
{% endfor %}
