{% load widget_tweaks %}

{% for field in form %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <!-- <label for="{{ field.id_for_label }}">{{ field.label }}</label> -->
    {% render_field field class="form-control" placeholder=field.label %}
    {% for error in field.errors %}
      <p class="help-block" style="color: red">{{ error }}</p>
    {% endfor %}
  </div>
{% endfor %}



<!-- <div class="form-group">
  <div class="input-group input-group-alternative">
   <div class="input-group-prepend">
     <span class="input-group-text"><i class="ni ni-single-02"></i></span>
   </div>
   <input class="form-control" placeholder="Empid" type="text" />
  </div>
</div> -->
